<h1>Create New Plans</h1>

<%= form_with(url: "/plans",model: @plan, method: "post") do |f|%>

<div class = "marginAll">
	<div class="form-row">
		<div class="col-md-3 my-auto">
			<%= f.label "Name"%>
		</div>
		<div class="col-md-9">
			<%= f.text_field :name, class: "form-control" %>
		</div>
	</div>
</div>

<div class = "marginAll">
	<div class="form-row">
		<div class="col-md-3 my-auto">
			<%= f.label "Monthly Fee" %>
		</div>
		<div class="col-md-9">
			<%= f.number_field :monthly_fee, step: :any,class: "form-control" %>
		</div>
	</div>
</div>


<div class = "marginAll">
	<div class="actions">
		<%= f.submit "Create Plan", class: "btn" %>
	</div>
</div>

<% end %>