<div class="list-group">
	<%= link_to "All Users", users_path, class: "list-group-item active" %>
	<%= link_to "Call to Charge Accounts", transactions_new_path, class: "list-group-item" %>
	<%= link_to "Entry in Usage table", users_path, class: "list-group-item" %>
	<%= link_to "All Plans", users_path, class: "list-group-item" %>
	<%= link_to "Display Transactions", users_path, class: "list-group-item" %>
	<%= link_to "Display Subscriptions", users_path, class: "list-group-item" %>
</div>
